#main {
  background-color: #4a4a4a;
}
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}
/*我添加的ＣＳＳ*/
@media only screen and (max-width:648px) {
    .flex-box {
      /*font-size: 1.2em;*/
      display:inline;
      text-align: left;
      /*background-color: red;*/
      /*vertical-align: bottom;*/
    }
    }
    .onlineClasses-entry{
      padding: 0 5%;
    }
    /*#projects {
      background-color: #2ce899;
    }
    #education {
      background-color: #a5320b;
    }
    #mapDiv {
      background-color: #d6ff0a;
    }
    .gray {
      background-color: #acef7f;
    }*/
